<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or renderData.title or metadata.title }}</title>
<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
	<header>
		<em>
			<a href="{{ '/' | url }}">Awesome Blog</a>
		</em>
	</header>
	<main>
		{{ layoutContent | safe }}
	</main>
</body>
</html>